:root{
    font-size: 60%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
}

.App{
    height: inherit;
    width: 100%;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}


#page-logon{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: beige;
}

#page-register{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: beige;
}

#register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register-rank-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-location-input{
    display: flex;
    justify-content: center;
    align-items: center;
}