:root{
    font-size: 80%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
}

.App{
    height: inherit;
    width: 100%;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}


.normal-page{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90vh;
    width: 100%;

    background-color: beige;

    flex-direction: column;
}

#register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register-rank-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-location-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

#occurrences-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: inherit;

    list-style: none;
}

#occurrence-entry{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    border: 2px solid wheat;
    border-radius: 2px;
}